<%- include("header") %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
            <p>Add, edit, or delete a coupon</p>
        </div>
        <!-- <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <% if (message) { %>
                        <div id="successMessage" class="alert alert-success text-center mt-5" role="alert">
                            <%= message %>
                        </div>
                    <% } %>
                    <% if (errMessage) { %>
                        <div id="errorMessage" class="alert alert-danger text-center mt-5" role="alert">
                            <%= errMessage %>
                        </div>
                    <% } %>
                    <!-- Coupon creation form -->
                    <form method="post" onsubmit="return createCouponValidation()" action="/admin/coupons" id="createCouponForm">
                      <div class="mb-4">
                        <label for="coupon_id" class="form-label">Coupon ID</label>
                        <input type="text" placeholder="Type here" name="coupon_id" class="form-control" id="coupon_id">
                        <div id="couponIdError" class="text-danger"></div> <!-- Error message element for Coupon ID -->
                      </div>
                      <div class="mb-4">
                          <label for="limit" class="form-label">Limit</label>
                          <input placeholder="Type here" name="limit" class="form-control" id="limit">
                          <div id="limitError" class="text-danger"></div> <!-- Error message element for Limit -->
                      </div>
                      <div class="mb-4" style="display: none;" id="expiry_Date_Div">
                          <label for="expiry_Date" class="form-label">Expiry Date</label>
                          <input type="text" placeholder="Type here" name="expiry_Date" class="form-control" id="expiry_Date">
                          <div id="expiryDateError" class="text-danger"></div> <!-- Error message element for Expiry Date -->
                      </div>
                    

                      <div class="mb-4">
                        <label for="minimum_Amount" class="form-label">Minimum Amount</label>
                        <input placeholder="Type here" name="minimum_Amount" class="form-control" id="minimum_Amount">
                        <div id="minimumAmountError" class="text-danger"></div> <!-- Error message element for Minimum Amount -->
                      </div>
                      <div class="mb-4">
                          <label for="maximum_Discount" class="form-label">Maximum Discount</label>
                          <input placeholder="Type here" name="maximum_Discount" class="form-control" id="maximum_Discount">
                          <div id="maximumDiscountError" class="text-danger"></div> <!-- Error message element for Maximum Discount -->
                      </div>
                      <div class="mb-4">
                          <label for="discount_Percentage" class="form-label">Discount Percentage</label>
                          <input placeholder="Type here" name="discount_Percentage" class="form-control" id="discount_Percentage">
                          <div id="discountPercentageError" class="text-danger"></div> <!-- Error message element for Discount Percentage -->
                      </div>
                                          
                      <div class="d-grid" id="coupon_btn">
                        <button type="submit" class="btn btn-primary" id="createCouponBtn">Create Coupon</button>

                        <button type="submit" class="btn btn-primary" id="editCouponBtn" style="display: none;">Edit Coupon</button>
                                                  
                      </div>
                  </form>
                  

                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Coupon ID</th>
                                <th>Edit</th>
                                <th>View Details</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="couponListContainer">
                          <% coupons.forEach(function(coupon) { %>
                            <tr>
                                <td>
                                    <%= coupon.coupon_id %>
                                </td>
                                <td>
                                      <button class="btn btn-light rounded btn-sm font-sm"
                                      onclick="editCoupon('<%= coupon._id %>', '<%= coupon.coupon_id %>', '<%= coupon.limit %>', '<%= coupon.expiry_Date %>', '<%= coupon.minimum_Amount %>', '<%= coupon.maximum_Discount %>', '<%= coupon.discount_Percentage %>')">Edit</button>
                                </td>
                                <td>
                                  <button class="btn btn-info rounded btn-sm font-sm"
                                  onclick="viewDetails('<%= coupon._id %>', '<%= coupon.coupon_id %>', '<%= coupon.limit %>', '<%= coupon.expiry_Date %>', '<%= coupon.minimum_Amount %>', '<%= coupon.maximum_Discount %>', '<%= coupon.discount_Percentage %>')">View Details</button>
                                </td>
                                <td>
                                  <%= coupon.valid ? 'Active' : 'Inactive' %>
                                </td>
                                <td>
                                  <% if (!coupon.valid) { %>
                                    <button class="btn btn-success rounded btn-sm font-sm" id="couponButton_<%= coupon._id %>"
                                        onclick="toggleCouponValidity('<%= coupon._id %>', true)">Activate</button>
                                  <% } else { %>
                                    <!-- De-Activate Button -->
                                    <button class="btn btn-danger rounded btn-sm font-sm" id="couponButton_<%= coupon._id %>"
                                        onclick="toggleCouponValidity('<%= coupon._id %>', false)">De-Activate</button>
                                  <% } %>
                                </td>
                            </tr>
                        <% }); %>

                        </tbody>
                    </table>
                    
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->

        <div class="pagination-area mt-30 mb-50">
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center" id="pagination">
                  <% for (let i=1; i <= totalPages; i++) { %>
                      <li class="page-item <%= i === page ? 'active' : '' %>">
                          <a class="page-link" href="javascript:void(0);" onclick="fetchCoupons(`<%= i %>`)"><%= i %></a>
                      </li>
                  <% } %>
              </ul>
          </nav>
      </div>
      

    </div> <!-- card .// -->
</section>


<script>
function editCoupon(couponId, coupon_id, limit, expiry_Date, minimum_Amount, maximum_Discount, discount_Percentage) {

    document.getElementById('coupon_id').value = coupon_id;
    document.getElementById('limit').value = limit;
    document.getElementById('minimum_Amount').value = minimum_Amount;
    document.getElementById('maximum_Discount').value = maximum_Discount;
    document.getElementById('discount_Percentage').value = discount_Percentage;
    document.getElementById('expiry_Date').value = expiry_Date;

    document.getElementById('expiry_Date_Div').style.display = 'block';
    document.getElementById('createCouponBtn').style.display = 'none';
    document.getElementById('editCouponBtn').style.display = 'block';


    document.getElementById('createCouponForm').action = `/admin/editCoupon/${couponId}`;
    document.getElementById('createCouponForm').onsubmit = function() {
    return editCouponValidation();
  };

}

function viewDetails(couponId, coupon_id, limit, expiry_Date, minimum_Amount, maximum_Discount, discount_Percentage) {

    document.getElementById('coupon_id').value = coupon_id;
    document.getElementById('limit').value = limit;
    document.getElementById('expiry_Date').value = expiry_Date;
    document.getElementById('minimum_Amount').value = minimum_Amount;
    document.getElementById('maximum_Discount').value = maximum_Discount;
    document.getElementById('discount_Percentage').value = discount_Percentage;


    document.getElementById('expiry_Date_Div').style.display = 'block';
    document.getElementById('createCouponBtn').style.display = 'none';
    document.getElementById('editCouponBtn').style.display = 'none';
}
  
function toggleCouponValidity(couponId, blockStatus) {

    const requestData = { blocked: blockStatus };


    fetch(`/admin/toggleBlockStatusCoupons/${couponId}`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(requestData),
})
.then(response => response.json())
.then(data => {
  window.location.reload()
    // console.log('Response data:', data);
    // console.log('data.blockStatus:', data.blockStatus);
    // if (data) {
    // // Toggle the button text and class
    // const button = document.getElementById(`couponButton_${couponId}`);
    // console.log('button:', button);
    // console.log('couponButton_${couponId} :', couponId);

    // if (data.blockStatus === true) {
    //   console.log("Reached inside the if ");
    //   button.textContent = 'De-Activate';
    //   button.className = 'btn btn-danger rounded btn-sm font-sm';
    // } else {
    //   button.textContent = 'Activate';
    //   button.className = 'btn btn-success rounded btn-sm font-sm';
    //   console.log("Reached inside the else ");
    // }


    // // Update the coupon validity status
    // const couponStatus = document.getElementById(`couponStatus_${couponId}`);
    // couponStatus.textContent = data.blockStatus === true ? 'Inactive' : 'Active';
// } else {
//     console.error('Failed to toggle coupon validity');
//     alert('An error occurred while toggling coupon validity');
// }

})
.catch(error => {
    console.error('Error:', error);
    alert('An error occurred while toggling coupon validity');
});

}


  function fetchCoupons(page) {
      $.ajax({
          url: `/admin/coupons?page=${page}`,
          method: 'GET',
          dataType: 'json',
          headers: {
              'X-Requested-With': 'XMLHttpRequest',
          },
          success: function (data) {
            const coupons = data.coupons;
            const totalPages = data.totalPages;
            const currentPage = data.page;

            console.log("coupons  ==> ",coupons);
              $('#couponListContainer').empty();
  
              coupons.forEach(coupon => {
                  const couponRow = `
                      <tr>
                          <td>${coupon.coupon_id}</td>
                          <td>
                              <button class="btn btn-light rounded btn-sm font-sm"
                                  onclick="editCoupon('${coupon._id}', '${coupon.coupon_id}', '${coupon.limit}', '${coupon.expiry_Date}', '${coupon.minimum_Amount}', '${coupon.maximum_Discount}', '${coupon.discount_Percentage}')">Edit</button>
                          </td>
                          <td>
                              <button class="btn btn-info rounded btn-sm font-sm"
                                  onclick="viewDetails('${coupon._id}', '${coupon.coupon_id}', '${coupon.limit}', '${coupon.expiry_Date}', '${coupon.minimum_Amount}', '${coupon.maximum_Discount}', '${coupon.discount_Percentage}')">View Details</button>
                          </td>
                          <td>
                            ${coupon.valid ?  'Active' : 'Inactive'}
                          </td>
                          <td>
                              ${!coupon.valid ? `
                                <button class="btn btn-success rounded btn-sm font-sm" id="couponButton_${coupon._id}"
                                  onclick="toggleCouponValidity('${coupon._id}', true)">Activate</button>` :
                                  `<button class="btn btn-danger rounded btn-sm font-sm" id="couponButton_${coupon._id}"
                                  onclick="toggleCouponValidity('${coupon._id}', false)">De-Activate</button>`
                              }
                          </td>
                      </tr>
                  `;
  
                  $('#couponListContainer').append(couponRow);
              });
              updatePagination(totalPages, currentPage);
  
              $('#pagination .page-item').removeClass('active');
              $(`#pagination .page-item:nth-child(${page})`).addClass('active');

          },
          error: function (error) {
              console.error(error);
          },
      });
  }

    function updatePagination(totalPages, currentPage) {
        console.log("currentPage   ====>>>  ",currentPage);
        console.log("totalPages   ====>>>  ",totalPages);
        const pagination = $('#pagination');

        localStorage.setItem('currentPage', currentPage);
        const currentPages = localStorage.getItem('currentPage');

        pagination.empty();
            for (let i = 1; i <= totalPages; i++) {
               const pageLink = `<li class="page-item ${i === currentPage ? 'active' : ''}">
               <a class="page-link" href="javascript:void(0);" onclick="fetchCoupons(${i})">${i}</a>
            </li>`;
               pagination.append(pageLink);
            }
    }

 </script>
  

<%- include("footer") %>
<script>
    
    $(document).ready(function () {
            const currentPage = localStorage.getItem('currentPage');
            if (currentPage) {

               fetchCoupons(parseInt(currentPage, 10));
            } else {

               fetchCoupons(1);
            }
         })

</script>