<%-include("header")-%>
<style>
    .qty-down i, .qty-up i {
        font-size: 20px; /* Change to your preferred size */
        padding-left: 10px;
        background-color: #088178; /* Add your preferred background color */
        padding: 5px; /* Add padding for spacing */
        color: #ffffff;
    }
    .qty-down:hover i, .qty-up:hover i {
        background-color: #046963; /* Add your preferred background color */
        transition: 0.5s;
    }
    </style>
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <%if(user.cart.length != 0){%>
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading" id="hide_Row">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% user.cart.forEach(cartItem => { %>
                                        <tr id="cartItemRow_<%= cartItem._id %>">
                                            <td class="image product-thumbnail"><img src="/admin/productImages/<%= cartItem.product.images[0] %>" alt="<%= cartItem.product.product_name %>"></td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href="shop-product-right.html"><%= cartItem.product.product_name %></a></h5>
                                                <p class="font-xs"><%= cartItem.product.description %></p>
                                            </td>
                                            <td class="price" data-title="Price" id="price_<%= cartItem._id %>"><span>$<%= cartItem.product.sales_price.toFixed(2) %></span></td>
                                            <td class="text-center" data-title="Quantity">
                                                <div class="align-items-center">
                                                    <a href="#" class="qty-down" onclick="updateQuantity('<%= cartItem._id %>', -1)"><i class="fi-rs-minus"></i></a>
                                                    <input class="qty-input_<%= cartItem._id %>" value="<%= cartItem.quantity %>" min="1" readonly style="text-align: center; padding-left: 0px; width: 50px; color: black; background-color: #b8e4e2; height: 38px;">
                                                    <a href="#" class="qty-up" onclick="updateQuantity('<%= cartItem._id %>', 1)"><i class="fi-rs-plus"></i></a>
                                                </div>
                                            </td>
                                                                                                                                                                                
                                            <td class="text-right" data-title="Subtotal" id="subtotal_<%= cartItem._id %>">
                                                <span>$<%= (cartItem.product.sales_price * cartItem.quantity).toFixed(2) %></span>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="#" class="text-muted" onclick="removeCartItem('<%= cartItem._id %>')"><i class="fi-rs-trash"></i></a></td>
                                        </tr>
                                    <% }); %>
                                    <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="#" class="text-muted" onclick="clearCart()"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <%} else {%>
                                <div class=" text-center">
                                    <h2>Your cart is empty</h2>
                                </div>
                                <%}%>
                                <div class=" text-center" style="display: none;" id="cart_Empty">
                                    <h2>Your cart is empty</h2>
                                </div>
                        </div>
                        <div class="cart-action text-end">
                            <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                            <a class="btn" href="#" onclick="goBack()"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>

                            <!-- <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            <form action="#" target="_blank">
                                                <div class="form-row row justify-content-center">
                                                    <div class="form-group col-lg-6">
                                                        <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount" id="cartSubtotal"><span class="font-lg fw-900 text-brand">$<%= cartSubtotal.toFixed(2) %></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount" id="shippingTotal"> <i class="ti-gift mr-5"></i> $<%= shippingTotal.toFixed(2) %></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount" id="cartTotal"><span class="font-xl fw-900 text-brand">$<%= (cartSubtotal + shippingTotal).toFixed(2) %></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    <a href="/checkOutPage" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
<%-include("footer")-%>
<script>
function updateQuantity(cartItemId, change) {
    const quantityInput = document.querySelector(`.qty-input_${cartItemId}`);
    let currentQuantity = parseInt(quantityInput.value);

    let newQuantity = currentQuantity + change;
    
    newQuantity = Math.max(1, newQuantity);

    quantityInput.value = newQuantity;

    fetch(`/updateCartQuantity/${cartItemId}/${newQuantity}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (response.ok) {
            updateSubtotal(cartItemId, newQuantity);
            updateCartTotals();
        } else {
            alert('Failed to update quantity');
            quantityInput.value = currentQuantity;
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while updating quantity');
        quantityInput.value = currentQuantity;
    });
}


function removeCartItem(cartItemId) {
    fetch(`/removeCartItem/${cartItemId}`, {
        method: 'POST',
    })
.then(response => {
    if (response.ok) {
        response.json().then(data => {
            if (data.count==0) {
                const cartTable = document.querySelector('.table.shopping-summery tbody');
                cartTable.innerHTML = ''; 
                const cartTableBody = document.getElementById('hide_Row');
                cartTableBody.style.display = 'none'; 
                const cart_Empty = document.getElementById('cart_Empty');
                cart_Empty.style.display = 'block'; 
            }
        });
        const rowToRemove = document.getElementById(`cartItemRow_${cartItemId}`);
        if (rowToRemove) {
            updateCartTotals();
            updateCartCount();
            rowToRemove.remove();
        }
    } else {
        alert('Failed to remove item from the cart');
    }
})
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while removing item from the cart');
    });
}


function clearCart() {
    fetch('/clearCart', {
        method: 'POST',
    })
    .then(response => {
        if (response.ok) {
            const cartTableBody = document.querySelector('.table.shopping-summery tbody');
            if (cartTableBody) {
                // cartTableBody.innerHTML = ''; 
                updateCartTotals()
                updateCartCount();
                const cartTable = document.querySelector('.table.shopping-summery tbody');
                cartTable.innerHTML = ''; 
                const cartRow = document.getElementById('hide_Row');
                cartRow.style.display = 'none'; 
                const cart_Empty = document.getElementById('cart_Empty');
                cart_Empty.style.display = 'block'; 


            }
        } else {
            alert('Failed to clear the cart');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while clearing the cart');
    });
}

function updateSubtotal(cartItemId, newQuantity) {
    const priceElement = document.querySelector(`#price_${cartItemId}`);
    const subtotalElement = document.querySelector(`#subtotal_${cartItemId}`);
    
    if (priceElement && subtotalElement) {
        const price = parseFloat(priceElement.textContent.replace('$', ''));
        const newSubtotal = (price * newQuantity).toFixed(2);
        
        subtotalElement.textContent = `$${newSubtotal}`;
    }
}

function updateCartTotals() {
    fetch('/getCartTotals', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        const cartSubtotalElement = document.getElementById('cartSubtotal');
        const cartSubtotalSpan = cartSubtotalElement.querySelector('span');
        cartSubtotalSpan.textContent = `$${data.cartSubtotal.toFixed(2)}`;

        const shippingTotalElement = document.getElementById('shippingTotal');
        shippingTotalElement.textContent = `$${data.shippingTotal.toFixed(2)}`;

        const cartTotalElement = document.getElementById('cartTotal');
        const cartTotalStrong = cartTotalElement.querySelector('span');
        cartTotalStrong.textContent = `$${(data.cartSubtotal + data.shippingTotal).toFixed(2)}`;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}


function goBack() {
    const previousPage = document.referrer;
    
    if (previousPage) {
        window.location.href = previousPage;
    } else {
        window.location.href = "/home";
    }
}
</script>

