<%-include("header")-%>

    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <% if (product && product.images) { %>
                                            <% product.images.slice(0, 4).forEach((image, index)=> { %>
                                                <figure class="border-radius-10">
                                                    <img src="/admin/productImages/<%=image %>" alt="product image">
                                                </figure>
                                                <% }); %>
                                                    <% } %>
                                    </div>
                                    <%if (isAuthenticated == true){%>
                                        <input type="hidden" value="<%= quantityInCart %>" id="quantityInCart">
                                        <%}%>

                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <% if (product && product.images && Array.isArray(product.images)) { %>
                                            <% product.images.slice(0, 4).forEach((image, index)=> { %>
                                                <div class="thumbnail-item">
                                                    <img src="/admin/productImages/<%= image %>" alt="product image"
                                                        data-image-id="<%= index %>">
                                                </div>
                                                <% }); %>
                                                    <% } %>
                                    </div>


                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                            </li>
                                            <li class="social-linkedin"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%=product.product_name%>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html">
                                                        <%=product.brand_name%>
                                                    </a></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (<%=noOfReviews%> reviews)</span>
                                            </div> -->

                                            <% if (noOfReviews > 0) { %>
                                                <% let totalRating = 0; %>
                                                <% product.reviews.forEach(review => { %>
                                                  <% totalRating += review.rating; %>
                                                <% }); %>
                                                <% const averageRating = totalRating / noOfReviews; %>
                                                <div class="product-rate-cover text-end">
                                                  <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: <%=(averageRating * 20)%>%;"></div>
                                                  </div>
                                                  <span class="font-small ml-5 text-muted"> (<%= noOfReviews %> reviews)</span>
                                                </div>
                                              <% } else { %>
                                                <div class="product-rate-cover text-end">
                                                  <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 0%;"></div>
                                                  </div>
                                                  <span class="font-small ml-5 text-muted"> (0 reviews)</span>
                                                </div>
                                              <% } %>
                                              

                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">$<%=product.sales_price%></span></ins>
                                                <ins><span class="old-price font-md ml-15">$<%=product.regular_price%>
                                                    </span></ins>
                                                <span class="save-price  font-md color3 ml-15">25% Off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem
                                                officia, corrupti reiciendis minima nisi modi, quasi, odio minus dolore
                                                impedit fuga eum eligendi? Officia doloremque facere quia. Voluptatum,
                                                accusantium!</p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                    Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li <% if (product.size==='S' ) { %>class="active"<% } %>>
                                                        <a href="#">S</a>
                                                </li>
                                                <li <% if (product.size==='M' ) { %>class="active"<% } %>>
                                                        <a href="#">M</a>
                                                </li>
                                                <li <% if (product.size==='L' ) { %>class="active"<% } %>>
                                                        <a href="#">L</a>
                                                </li>
                                                <li <% if (product.size==='XL' ) { %>class="active"<% } %>>
                                                        <a href="#">XL</a>
                                                </li>
                                                <li <% if (product.size==='XXL' ) { %>class="active"<% } %>>
                                                        <a href="#">XXL</a>
                                                </li>
                                                <li <% if (product.size==='XXXL' ) { %>class="active"<% } %>>
                                                        <a href="#">XXXL</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink" style="display: flex;">
                                            <!-- <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"
                                                    onclick="updateQuantity_forProductQuantity('<%= product._id %>', -1)"><i
                                                        class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val" id="qty-val_<%= product._id %>">1</span>
                                                <a href="#" class="qty-up"
                                                    onclick="updateQuantity_forProductQuantity('<%= product._id %>', 1)"><i
                                                        class="fi-rs-angle-small-up"></i></a>
                                            </div>

                                            <div class="product-extra-link2 ">
                                                <!-- <button type="submit" class="button button-add-to-cart">Add to cart</button> -->
                                                <% if (isAuthenticated) { %>
                                                    <div class="product-action-1 show">
                                                        <% if (product.stock> 0) { %>
                                                            <btton aria-label="Add To Cart"
                                                                class="button button-add-to-cart" href="#"
                                                                onclick="addToCart('<%= product._id %>','<%= product.stock %>')">
                                                                Add to cart</btton>
                                                            <% } else { %>
                                                                <div class="mt-10" style="color: red;">
                                                                    <span class="out-of-stock">Out of Stock</span>
                                                                </div>
                                                                <% } %>
                                                    </div>

                                                    <% } else { %>
                                                        <form action="/login" method="GET">
                                                            <input type="hidden" name="err" value="true">
                                                            <input type="hidden" name="msg"
                                                                value="Login to add product to cart">
                                                            <button type="submit" class="button button-add-to-cart">Add
                                                                to cart</button>
                                                        </form>
                                                        <% } %>
                                                            <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->

                                                            <% if (user && user.wishlist.includes(product._id)) { %>
                                                                <a id="wishlist-link-<%= product._id %>"
                                                                    class="action-btn hover-up active"
                                                                    onclick="toggleWishlist('<%= product._id %>')"
                                                                    aria-label="Remove from Wishlist" style="background-color: #088178;">
                                                                    <i class="fi-rs-heart"></i>
                                                                </a>
                                                                <% } else { %>
                                                                    <a id="wishlist-link-<%= product._id %>"
                                                                        class="action-btn hover-up"
                                                                        onclick="toggleWishlist('<%= product._id %>')"
                                                                        aria-label="Add To Wishlist">
                                                                        <i class="fi-rs-heart"></i>
                                                                    </a>
                                                                    <% } %>


                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                    rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">
                                                    <%=product.stock%> Items In Stock
                                                </span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                            href="#Reviews">Reviews (<%=noOfReviews%>)</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <%if(product.reviews.length != 0){%>
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    <div class="comment-list" id="comments-container">
                                                        <% product.reviews.forEach(review => { %>
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center" style="    height: 77px;
                                                                width: 124px;
                                                            ">
                                                                    <%if(review.userID.user_profile[0]){%>
                                                                    <img src="/admin-assets/imgs/people/<%= review.userID.user_profile[0] %>" alt="" style="height: 50px; width: 40px; border-radius: 100%">
                                                                    <%}else{%>
                                                                        <img src="/admin-assets/imgs/icons/user.png" alt="" style="height: 50px; width: 40px; border-radius: 100%;">
                                                                        <%}%>
                                                                    <h6><%= review.userID.first_name %> <span></span><%= review.userID.last_name %></h6>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:<%= (review.rating * 20) %>%">
                                                                        </div>
                                                                    </div>
                                                                    <p><%= review.text %></p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30"><%= review.date.toDateString() %></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }); %>
                                                    </div>
                                                    <%}else{%>
                                                        <div>
                                                            <h5>No Reviews for this product</h5>
                                                        </div>
                                                        <%}%>
                                                </div>
                                                
                                                <!-- <div class="col-lg-4">
                                                    <h4 class="mb-30">Customer reviews</h4>
                                                    <div class="d-flex mb-30">
                                                        <div class="product-rate d-inline-block mr-15">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <h6>4.8 out of 5</h6>
                                                    </div>
                                                    <div class="progress">
                                                        <span>5 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>4 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>3 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 45%;"
                                                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>2 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 65%;"
                                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%
                                                        </div>
                                                    </div>
                                                    <div class="progress mb-30">
                                                        <span>1 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
                                                        </div>
                                                    </div>
                                                    <a href="#" class="font-xs text-muted">How are ratings
                                                        calculated?</a>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--comment form-->
                                        <style>
                                            /*set the default color of the stars*/
.star-rating{
    color: #bebebe;
    font-size:2em;
}
/*create the star*/
.my-star::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
    font-style: unset !important;
}
/*set active star color*/
.is-active{
    color:#fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
    color: #fb8900;
}
                                        </style>
                                        <%if(hasOrdered){%>
                                        <div class="comment-form">
                                            <h4 class="mb-15">Add a review</h4>
                                            <!-- <div class="product-rate d-inline-block mb-30">
                                            </div> -->
                                            <input type="hidden" readonly id="output">
                                            <small id="ratingError"></small>
                                            <p class="star-rating">
                                                <i class="my-star star-1" data-star="1"></i>
                                                <i class="my-star star-2" data-star="2"></i>
                                                <i class="my-star star-3" data-star="3"></i>
                                                <i class="my-star star-4" data-star="4"></i>
                                                <i class="my-star star-5" data-star="5"></i>
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12">
                                                    <small id="commentError"></small>
                                                    <form class="form-contact comment_form" action="" id="commentForm">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control w-100" name="comment"
                                                                        id="comment" cols="30" rows="9"
                                                                        placeholder="Write Comment"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div class="form-group">
                                                            <button onclick="return validateComment(`<%=product._id%>`)" type="button"
                                                                class="button button-contactForm">Submit
                                                                Review</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                        <div>
                                            <h5 style="color: red;">Purchase the product to give a review</h5>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img"
                                                                src="assets/imgs/shop/product-2-1.jpg" alt="">
                                                            <img class="hover-img"
                                                                src="assets/imgs/shop/product-2-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                                class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="shop-wishlist.html"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up"
                                                            href="shop-compare.html" tabindex="0"><i
                                                                class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Ulstra Bass
                                                            Headphone</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$238.85 </span>
                                                        <span class="old-price">$245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img"
                                                                src="assets/imgs/shop/product-3-1.jpg" alt="">
                                                            <img class="hover-img"
                                                                src="assets/imgs/shop/product-3-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                                class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="shop-wishlist.html"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up"
                                                            href="shop-compare.html" tabindex="0"><i
                                                                class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="sale">-12%</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Smart Bluetooth
                                                            Speaker</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$138.85 </span>
                                                        <span class="old-price">$145.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img"
                                                                src="assets/imgs/shop/product-4-1.jpg" alt="">
                                                            <img class="hover-img"
                                                                src="assets/imgs/shop/product-4-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                                class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="shop-wishlist.html"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up"
                                                            href="shop-compare.html" tabindex="0"><i
                                                                class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="new">New</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">HomeSpeak 12UEA
                                                            Goole</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$738.85 </span>
                                                        <span class="old-price">$1245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up mb-0">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img"
                                                                src="assets/imgs/shop/product-5-1.jpg" alt="">
                                                            <img class="hover-img"
                                                                src="assets/imgs/shop/product-3-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                                class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="shop-wishlist.html"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up"
                                                            href="shop-compare.html" tabindex="0"><i
                                                                class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Dadua Camera 4K
                                                            2022EF</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$89.8 </span>
                                                        <span class="old-price">$98.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                                <img class="border-radius-10" src="assets/imgs/banner/banner-4.png" alt="">
                                <div class="banner-text">
                                    <h4 class="mb-15 mt-40">Repair Services</h4>
                                    <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% categories.forEach(function(category) { %>
                                    <%if(category.blocked==false){%>
                                        <li><a href="/categoryOther?categoryId=<%= category._id %>">
                                                <%= category.name %>
                                            </a></li>
                                        <%}%>
                                            <% }); %>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">Popularity</a></li>
                                <li><a href="shop-grid-right.html">Average rating</a></li>
                                <li><a href="shop-grid-right.html">Price: Low to High</a></li>
                                <li><a href="shop-grid-right.html">Price: High to Low</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">$0-$200</a></li>
                                <li><a href="shop-grid-right.html">$200-$400</a></li>
                                <li><a href="shop-grid-right.html">$400-$600</a></li>
                                <li><a href="shop-grid-right.html">$600-$800</a></li>
                                <li><a href="shop-grid-right.html">800$+</a></li>
                            </ul>
                        </div>
                        <div class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none">
                            <img src="assets/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%-include("footer")-%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

        <script>
            let quantityChanges = {};

            function updateQuantity_forProductQuantity(productId, change) {
                console.log("Reached updateQuantity_forProductQuantity");

                const qtyValElement = document.getElementById(`qty-val_${productId}`);

                if (qtyValElement) {
                    console.log("qtyValElement: ", qtyValElement);

                    let currentQuantity = parseInt(qtyValElement.innerHTML);
                    console.log("currentQuantity: ", currentQuantity);
                    if (isNaN(currentQuantity)) {
                        console.log("Error")
                    }
                    if (!isNaN(currentQuantity)) {
                        let newQuantity = currentQuantity + change;
                        newQuantity = Math.max(1, newQuantity);
                        qtyValElement.innerHTML = newQuantity;
                        quantityChanges[productId] = newQuantity;
                        console.log("newQuantity: ", newQuantity);
                        console.log("quantityChanges: ", quantityChanges);
                    } else {
                        console.log("currentQuantity is NaN.");
                    }
                } else {
                    console.log(`Element with ID 'qty-val_${productId}' not found.`);
                }
            }



            function addToCart(productId, stock) {
    updateQuantity_forProductQuantity(productId, 0);
    let selectedQuantity = quantityChanges[productId] || 1;
    quantityChanges = 1;

    // Get the current quantity in the cart
    const quantityInCartElement = document.getElementById("quantityInCart");
    const currentQuantityInCart = parseInt(quantityInCartElement.value) || 0;

    // Check if the selected quantity exceeds the available stock
    if (currentQuantityInCart + selectedQuantity > stock) {
        selectedQuantity = stock - currentQuantityInCart;

        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Quantity exceeds available stock.",
        });
    }

    if (selectedQuantity > 0) {
        // Update the value of the quantityInCart input element
        const newQuantityInCart = currentQuantityInCart + selectedQuantity;
        quantityInCartElement.value = newQuantityInCart;

        fetch(`/addToCart/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ quantity: selectedQuantity }),
        })
        .then((response) => {
            if (response.ok) {
                Swal.fire({
            icon: "success",
            title: "success",
            text: "Product successfully added to cart.",
        });
        const qtyValElement = document.getElementById(`qty-val_${productId}`);
                        qtyValElement.innerHTML = 1;
                updateCartCount();
                // alert('Product added to cart successfully!');
            } else {
                alert('Failed to add product to cart');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('An error occurred while adding the product to the cart');
        });
    }
}

function validateComment(productId) {
    const selectedComment = document.getElementById('comment').value;
    const rating = document.getElementById('output').value;
    const isValid = addReviewValidation();
    console.log("isValid  ====>>>>  ", typeof isValid);
    console.log("isValid  ====>>>>  ", isValid);
    console.log("rating  ====>>>>  ", rating);

    if (isValid === true) {
        console.log("hi");
        console.log("Reached inside the if");
        fetch(`/addReview?productId=${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ comment: selectedComment, rating: rating }),
        })
            .then(response => response.json())
            .then(data => {
                console.log("data  ===>>>  ",data);
                if (data.errMsg) {
                    console.log("data.errMsg  ===>>>  ",data.errMsg);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.errMsg,
                    });
                } else {
                    console.log("Comment added successfully.");
                    console.log(data);
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error("Network error:", error);
            });
    }
}

document.addEventListener('DOMContentLoaded', function(){
    (function(){
        let sr = document.querySelectorAll('.my-star');
        let i = 0;
        while (i < sr.length){
            sr[i].addEventListener('click', function(){
                let cs = parseInt(this.getAttribute("data-star"));
                document.querySelector('#output').value = cs;
                let pre = cs; 
                while(1 <= pre){
                    if(!document.querySelector('.star-'+pre).classList.contains('is-active')){
                        document.querySelector('.star-'+pre).classList.add('is-active');
                    }
                    --pre;
                }
                let succ = cs+1;
                while(5 >= succ){
                    if(document.querySelector('.star-'+succ).classList.contains('is-active')){
                        document.querySelector('.star-'+succ).classList.remove('is-active');
                    }
                    ++succ;
                }
            })
            i++;
        }
    })();
})

</script>