<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <style>
        small {
            color: red;
        }
    </style>

</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="/formals">Formals</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block "
            style="padding: 15px;    background-color: #aeccc5;">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <!-- <a href="/home"><img src="assets/imgs/theme/logo.svg" alt="logo"></a> -->
                        <a href="/home"><img src="admin-assets/imgs/icons/Cloths For Real Men.png" alt="logo"
                                width="120" height="70.3"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select name="categoryId" class="form-select" style="margin-right: -20px;">
                                    <option>search All</option>
                                    <% categories.forEach(function(category) { %>
                                        <%if(category.blocked == false){%>
                                        <li><a href="/category?categoryId=<%= category._id %>">
                                                <%= category.name %>
                                            </a></li>
                                            <%}%>
                                        <% }); %>
                                    </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue" id="wishlist-count" style="display: none;"></span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                        <span id="cart-count" class="pro-count blue" style="display: none;"></span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <% if (isAuthenticated) { %>
                                        <!-- <a href="/logout">
                                            <p>Logout</p>
                                        </a> -->
                                        <% if (user.user_profile[0]) { %>
                                            <a href="/userAccount">
                                                <img src="/admin-assets/imgs/people/<%= user.user_profile %>" alt="/admin-assets/imgs/icons/user.png" style="height: 30px; width: 30px; border-radius: 100%;">
                                            </a>
                                            
                                        <% } else { %>
                                            <a href="/userAccount">
                                                <img src="/admin-assets/imgs/icons/user.png" alt="" style="height: 30px; width: 30px; border-radius: 100%;">
                                            </a>
                                        <% } %>
                                    <% } else { %>
                                        <a href="/login">
                                            <p>Login</p>
                                        </a>
                                    <% } %>
                                    <!-- <p><%isAuthenticated%></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="admin-assets/imgs/icons/Cloths For Real Men.png" alt="logo" width="30"
                                height="40.3"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active open" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large categoryHeader">
                                <ul>
                                    <li class="has-children">
                                        <ul class="d-lg-flex">
                                            <li class="mega-menu-col col-lg-6">
                                                <ul class="categories">
                                                    <% categories.forEach(function(category) { %>
                                                        <%if(category.blocked == false){%>
                                                        <li><a href="/category?categoryId=<%= category._id %>">
                                                                <%= category.name %>
                                                            </a></li>
                                                            <%}%>
                                                        <% }); %>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
                            style="padding-left: 170px;">
                            <nav>
                                <ul>

                                    <li><a class="menu-link" href="/">Home</a></li>

                                    <li><a class="menu-link" href="/formals">Formals</a></li>

                                    <li class="position-static"><a class="menu-link" href="/special">Special</a></li>

                                    <li><a class="menu-link" href="/all">All</a></li>

                                    <li><a class="menu-link" href="/about">About</a></li>

                                    <li><a class="menu-link" href="/contact">Contact</a></li>

                                </ul>
                            </nav>
                        </div>
                        <div class="header-action-right d-block d-lg-none">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <% if (isAuthenticated) { %>
                                        <!-- <a href="/logout">
                                            <p>Logout</p>
                                        </a> -->
                                        <% if (user.user_profile[0]) { %>
                                            <a href="/userAccount">
                                                <img src="/admin-assets/imgs/people/<%= user.user_profile %>" alt="/admin-assets/imgs/icons/user.png" style="height: 30px; width: 30px; border-radius: 100%;">
                                            </a>
                                            
                                        <% } else { %>
                                            <a href="/userAccount">
                                                <img src="/admin-assets/imgs/icons/user.png" alt="" style="height: 30px; width: 30px; border-radius: 100%;">
                                            </a>
                                        <% } %>
                                    <% } else { %>
                                        <a href="/login">
                                            <p>Login</p>
                                        </a>
                                    <% } %>
                                    <!-- <p><%isAuthenticated%></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="admin-assets/imgs/icons/Cloths For Real Men.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categori-button-active open" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-large categoryHeader">
                            <ul>
                                <li class="has-children">
                                    <ul class="d-lg-flex">
                                        <li class="mega-menu-col col-lg-6">
                                            <ul>
                                                <!-- <li><span class="submenu-title" style="margin-left: 30px; color: black"><strong>Jackets&Coats</strong></span></li> -->
                                                <% categories.forEach(function(categorie) { %>
                                                    <li><a class="dropdown-item nav-link nav_item" href="#">
                                                            <%= categorie.name %>
                                                        </a></li>
                                                    <% }); %>
                                            </ul>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                            </li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/formals">Formals</a></li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/special">Special</a></li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/all">All</a>
                            </li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/about">About</a></li>

                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="header-action-icon-2">
                        <% if (isAuthenticated==true) { %>
                            <a href="/logout">
                                <p>Logout</p>
                            </a>
                            <% } else { %>
                                <a href="/login">
                                    <p>Login</p>
                                </a>
                                <% } %>
                                    <!-- <p><%isAuthenticated%></p> -->
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>