<%-include("header")-%>

<style>
    /* Style for the profile image preview container */
.profile-image-preview {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the container circular */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflowing image parts */
    background-color: #ffffff; /* Background color for the circular area */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the profile image inside the circular container */
.profile-image-preview img {
    max-width: 100%; /* Make sure the image fits within the container */
    max-height: 100%; /* Make sure the image fits within the container */
    border-radius: 50%; /* Maintain the circular shape */
}

/* CSS to display the images side by side */
.profile-images-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically center the images */
    gap: 20px; /* Adjust the gap between images as needed */
}

/* Adjust the styles for each image container if necessary */
.profile-image-preview {
    max-width: 80%; /* Adjust the width of each container */
    text-align: center; /* Center the images horizontally */
}

/* You can add more CSS styles as needed to customize the appearance */


</style>


    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <% if (message) { %>
                                <div id="successMessage"
                                    class="alert alert-success text-center mt-5" role="alert">
                                    <%= message %>
                                </div>
                                <% } %>
                                    <% if (errMessage) { %>
                                        <div id="errorMessage"
                                            class="alert alert-danger text-center mt-5"
                                            role="alert">
                                            <%= errMessage %>
                                        </div>
                                        <% } %>

                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
                                                <i class="fi-rs-settings-sliders mr-10"></i>Dashboard
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">
                                                <i class="fi-rs-shopping-bag mr-10"></i>Orders
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false">
                                                <i class="fi-rs-shopping-cart-check mr-10"></i>My Wallet
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true">
                                                <i class="fi-rs-marker mr-10"></i>My Address
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true">
                                                <i class="fi-rs-user mr-10"></i>Account details
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="logout" href="/logout">
                                                <i class="fi-rs-sign-out mr-10"></i>Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <%if(user.display_name){%>
                                                <h5 class="mb-0">Hello <%=user.display_name%>! </h5>
                                                <%} else{%>
                                                <h5 class="mb-0">Hello <%=user.first_name%>! </h5>
                                                <%}%>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a
                                                        href="#">recent orders</a>, manage your <a href="#">shipping and
                                                        billing addresses</a> and <a href="#">edit your password and
                                                        account details.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <%if(userOrders.length != 0){%>
                                        <div class="card">
                                          <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                              <table class="table" id="example">
                                                <thead class="text-center">
                                                  <tr>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <!-- Iterate through userOrders to generate table rows -->
                                                    <% userOrders.forEach(order => { %>

                                                    <tr class="text-center">
                                                        <td><%= order.address && order.address[0] ? order.address[0].name : 'N/A' %></td>
                                                        <td><%= order.created_on %></td>
                                                        <td>
                                                            <% if (order.order_status === 'Placed') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Packed') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Shipped') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Delivered') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Request Approved') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Return Requested') { %>
                                                                <span class="badge rounded-pill alert-info status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Request Canceled') { %>
                                                                <span class="badge rounded-pill alert-danger status-badge"><%= order.order_status %></span>
                                                            <% } else if (order.order_status === 'Canceled') { %>
                                                                <span class="badge rounded-pill alert-danger status-badge"><%= order.order_status %></span>
                                                            <% } else { %>
                                                                <span class="badge rounded-pill alert-info status-badge"><%= order.order_status %></span>
                                                            <% } %>
                                                        </td>
                                                        <td>$<%= order.total_amount.toFixed(2) %> &nbsp;&nbsp; for &nbsp;&nbsp; <%= order.items.length %> items</td>
                                                        <td>
                                                            <a class="btn-small d-block view-details" data-order-id="<%= order._id %>">View Details</a>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                    <!-- End of iteration -->
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>                                          
                                        <%} else {%>
                                            <div class="text-center">
                                                <h2 class="mb-0">You have not made any orders yet</h2>
                                                <a class="btn"  onclick="goBack()"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>

                                            </div>
                                        <%}%>

                                    </div>
                                      
                                    <div class="container">    
                                        <div class="d-flex justify-content-between align-items-center">
                                          <h3 class="text-center Order_Details p-30" style="display: none;"><u><strong>Order Details</strong></u></h3>
                                          <button type="button" class="btn-danger Order_Details" style="display: none;" aria-label="Close" id="closeOrderDetailsBtn"><strong><strong>X</strong></strong></button>
                                        </div>
                                        <div class="order-details border p-30" style="display: none;">


                                        </div>
                                    </div>

                                    <div id="returnModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title">Return Request</h4>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                              <form id="returnForm">
                                                <div class="form-group">
                                                  <label for="returnReason">Reason for Return:</label>
                                                  <select class="form-control" id="returnReason" name="returnReason">
                                                    <option value="">Select a reason</option>
                                                    <option value="Defective">Product Defective</option>
                                                    <option value="color issue">Don't Like the Color</option>
                                                    <option value="Size issue">Size Doesn't Fit</option>
                                                    <option value="Different product delivered">Different product delivered</option>
                                                    <option value="Product arrived late">Product arrived late</option>
                                                    <!-- Add more reasons as needed -->
                                                  </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                                                            

                                      <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card col-md-6 mb-30">
                                            <div class="card-header">
                                                <h5 class="mb-0">Wallet Balance</h5>
                                            </div>
                                            <div class="card-body contact-form-area">
                                                <div class="row">
                                                    <h3>Balance: $ <%= user.wallet_Balance || 0 %></h3>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <table class="table table-striped mt-30" id="wallet">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Type</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%if(user.transaction && user.transaction.length !=0){%>
                                                <% user.transaction.forEach(transaction => { %>
                                                    <tr>
                                                        <td><%=transaction.user_display_order_id ||transaction._id %></td>
                                                        <td>
                                                            <% if (transaction.type === 'Debit') { %>
                                                                <span class="badge rounded-pill alert-danger status-badge"><%= transaction.type %></span>
                                                            <% } else if (transaction.type === 'Credit') { %>
                                                                <span class="badge rounded-pill alert-success status-badge"><%= transaction.type %></span>
                                                            <% } %>
                                                        </td>
                                                                                                    
                                                        <td>$<%= transaction.amount %></td>
                                                        <td><%= transaction.date.toDateString() %></td>
                                                    </tr>
                                                <% }); %>
                                                <%}else{%>
                                                    <div class="text-center">
                                                        <h2>No transactions made</h2>
                                                    </div>
                                                    <%}%>
                                            </tbody>
                                        </table>
                                        

                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <form class="text-center mt-3" action="/addNewAddress">
                                            <button class="btn btn-primary" type="submit">+ Add New Address</button>
                                        </form>
                                        <div class="row">
                                            <% if (user.addresses && user.addresses.length > 0) { %>
                                                <% user.addresses.forEach(address => { %>
                                                    <%if(address.blocked == false){%>
                                                        <div class="col-lg-6" style="margin-top: 20px;">
                                                            <div class="card mb-3 mb-lg-0">
                                                                <div class="card-header">
                                                                    <h5 class="mb-0"><%=address.type%></h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <address>
                                                                        <p>Name:- <%=address.name%></p>
                                                                        <p>Address:- <%=address.address%></p>
                                                                        <p>Pincode:- <%=address.pincode%></p>
                                                                        <p>Landmark:- <%=address.landmark%></p>
                                                                        <p>State:- <%=address.state%></p>
                                                                        <p>City/ Town/ District:- <%=address.city_town_district%></p>
                                                                        <p>Mobile No:- <%=address.mobile%></p>
                                                                        <p>Alternate No:- <%=address.alt_mobile%></p>
                                                                    </address>
                                                                    <div class="text-center" style="display: flex;">
                                                                        <a href="/editAddress?addressID=<%=address._id%>" class="btn btn-small" style="margin-top: 10px;">Edit</a>
                                                                        <a href="/updateAddressStatus?addressID=<%=address._id%>" class="btn btn-small btn-danger" style="background-color: red; margin-left: 50%; margin-top: 10px;">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <%}%>
                                                <% }); %>
                                            <%}else{%>
                                                <h1>Add your Address</h1>
                                                <%}%>
                                        </div>
                                    </div>
                                        
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
    
                                            <div class="card-body">
                                                <form method="post" onsubmit="return userAccountValidation()"
                                                enctype="multipart/form-data">
                                                            <div class="profile-images-container">
                                                                <div class="profile-image-preview">
                                                                    <img id="existingProfileImage" src="/admin-assets/imgs/people/<%= user.user_profile %>" alt="Profile Image">
                                                                </div>
                                                            
                                                                <div class="profile-image-preview" id="selectedProfileImageContainer">
                                                                    <img id="profileImagePreview" src="">
                                                                </div>
                                                            </div>
                                                            
                                                                <div class="form-group col-md-12">
                                                                    <label>Profile Image</label>
                                                                    <input class="form-control square" name="profileImage" type="file" id="profileImage">
                                                                    <small id="profileImageError" class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Referal ID <span
                                                                            class="required"></span></label>
                                                                            <small>*Pass your referal id to friends to get a $10 price money in Wallet*</small>

                                                                    <input value="<%=user.referal_ID%>"
                                                                        class="form-control square" name="referal_ID" readonly
                                                                        type="text" id="">
                                                                    <small id=""
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>First Name <span
                                                                            class="required"></span></label>
                                                                    <input value="<%=user.first_name%>"
                                                                        class="form-control square" name="name"
                                                                        type="text" id="firstName">
                                                                    <small id="firstNameError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Last Name <span
                                                                            class="required"></span></label>
                                                                    <input value="<%=user.last_name%>"
                                                                        class="form-control square" name="lName"
                                                                        id="lastName">
                                                                    <small id="lastNameError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Display Name <span
                                                                            class="required"></span></label>
                                                                    <input value="<%=user.display_name%>"
                                                                        class="form-control square" name="dname"
                                                                        type="text" id="displayName">
                                                                    <small id="displayNameError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Email Address <span
                                                                            class="required"></span></label>
                                                                    <input value="<%=user.email%>"
                                                                        class="form-control square" name="email" readonly
                                                                        type="email" id="emailAddress">

                                                                    <small id="emailAddressError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Mobile Number <span
                                                                            class="required"></span></label>
                                                                    <input value="<%=user.mobile%>"
                                                                        class="form-control square" name="mobile"
                                                                        type="mobile" id="mobile">
                                                                    <small id="mobileError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Current Password <span
                                                                            class="required"></span></label>
                                                                    <input value="" class="form-control square"
                                                                        name="currentPassword" type="password"
                                                                        id="currentPassword">
                                                                    <input type="hidden" value="user.password"
                                                                        id="userPassword">
                                                                    <small id="currentPasswordError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>New Password <span
                                                                            class="required"></span></label>
                                                                            <p><small>*Only if you want to change old password*</small></p>
                                                                    <input value="" class="form-control square"
                                                                        name="npassword" type="password"
                                                                        id="newPassword">
                                                                    <small id="newPasswordError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Confirm Password <span
                                                                            class="required"></span></label>
                                                                    <input value="" class="form-control square"
                                                                        name="cpassword" type="password"
                                                                        id="confirmPassword">
                                                                    <small id="confirmPasswordError"
                                                                        class="text-danger"></small>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <button type="submit"
                                                                        class="btn btn-fill-out submit"
                                                                        name="submit" value="Submit">Save</button>
                                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<script>
const profileImageInput = document.getElementById('profileImage');
const profileImagePreview = document.getElementById('profileImagePreview');

profileImageInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    if (file) {
        const url = URL.createObjectURL(file);
        profileImagePreview.src = url;
    } else {
        profileImagePreview.src = '';
    }
});

$("#selectedProfileImageContainer").hide();
$("#profileImage").on("change", function() {
    const input = this;
    const selectedProfileImageContainer = $("#selectedProfileImageContainer");
    const existingProfileImage = $("#existingProfileImage");
    
    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            $("#profileImagePreview").attr("src", e.target.result);
            selectedProfileImageContainer.show();
            existingProfileImage.hide();
        };

        reader.readAsDataURL(input.files[0]);
    } else {
        $("#profileImagePreview").attr("src", "");
        selectedProfileImageContainer.hide();
        existingProfileImage.show();
    }
});

$(document).ready(function () {
    $('.view-details').click(function () {
        const orderId = $(this).data('order-id');
        const orderDetailsContainer = $('.order-details');
        const orderDetails = $('.Order_Details');
        
        $.ajax({
            url: `/getOrderDetails/${orderId}`,
            method: 'GET',
            success: function (data) {
                orderDetailsContainer.html(data);
                orderDetails.show();
                orderDetailsContainer.show();
                $('#orders').hide();
                
                $('body').on('click', function (event) {
                    if (!$(event.target).closest('.order-details').length) {
                        orderDetailsContainer.hide();
                        orderDetails.hide();
                        $('#orders').show();
                        $('body').off('click');
                    }
                });
            },
            error: function () {
                alert('Failed to fetch order details.');
            }
        });
    });
});

function goBack() {
    const previousPage = document.referrer;
    
    if (previousPage) {
        window.location.href = previousPage;
    } else {
        window.location.href = "/home";
    }
}

function cancelOrder(orderId) {
    swal.fire({
        icon: "question",
        title: 'Cancel your Order?',
        type: 'Danger',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'OK'
    }).then((result) => {
        if (result.value) {
            fetch(`/cancelOrder/${orderId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // You should provide the body content here
                body: JSON.stringify({ orderId: orderId }) // Adjust this as needed
            })
            .then(response => response.json())
            .then(updatedOrder => {
                console.log('Updated Order:', updatedOrder);
                const statusElement = document.getElementById('order_status');
                const cancel_btn = document.getElementById('cancel_button');

                statusElement.textContent = 'Canceled';
                cancel_btn.style.display = 'none';
                statusElement.classList.remove('alert-success');
                statusElement.classList.add('alert-danger');
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
}



function returnOrder(orderId) {
  console.log("Reached returnOrder");
  console.log('orderId:', orderId);

  // Display a confirmation SweetAlert
  swal.fire({
    icon: "question",
    title: 'Return this order?',
    type: 'question',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'OK'
  }).then((result) => {
    if (result.value) {
      $('#returnModal').modal('show');

      $('#returnForm').submit(function (event) {
        event.preventDefault();
        const returnReason = $('#returnReason').val(); // Get the selected value from the dropdown

        if (returnReason.trim() === '') {
          alert('Please select a return reason.'); // Display an alert or handle the empty case as needed
        } else {
          submitReturnReason(orderId, returnReason);
        }
      });
    }
  });
}

function showInvoice(orderId){
    window.location.href= `/showInvoice/${orderId}`
}

function submitReturnReason(orderId, returnReason) {
  fetch(`/returnOrder/${orderId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ returnReason }),
  })
    .then(response => response.json())
    .then(updatedOrder => {
      console.log('Updated Order:', updatedOrder);

      if (updatedOrder.return_Request) {
        const statusElement = document.getElementById('order_status');
        const return_button = document.getElementById('return_button');
        const invoice_button = document.getElementById('invoice_button');

        statusElement.textContent = 'Return Requested';
        return_button.style.display = 'none';
        invoice_button.style.display = 'none';
        statusElement.classList.remove('alert-success');
        statusElement.classList.add('alert-success');
      }

      $('#returnModal').modal('hide');
    })
    .catch(error => {
      console.error('Error:', error);
    });
}

    document.addEventListener('DOMContentLoaded', function() {
        const activeTab = localStorage.getItem('activeTab');
    
        if (activeTab) {
            const tab = document.querySelector(`[href="${activeTab}"]`);
            if (tab) {
                tab.click();
            }
        }
    
        const tabs = document.querySelectorAll('[data-bs-toggle="tab"]');
        tabs.forEach(function(tab) {
            tab.addEventListener('click', function() {
                localStorage.setItem('activeTab', tab.getAttribute('href'));
            });
        });
    });
    </script>
    

    <%-include("footer")-%>
    <script>
        $("#logout").on("click", function(e) {
            e.preventDefault();
    
            swal.fire({
                icon: "question",
                title: 'Log out?',
                type: 'Danger',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/logout"
                }
            });
        });
    </script>
            

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function () {
    $('#wallet').DataTable({
        "order": [[3, "asc"]] // Sort by the fourth column (Date) in ascending order
    });
});
    $(document).ready(function () {
        new DataTable('#example');
        
    })
    

       </script>