<%- include("header") %>

    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <%if(user.wishlist.length !=0){%>
                                <table class="table shopping-summery text-center" id="wishlistTable">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock Status</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% user.wishlist.forEach(item=> { %>
                                            <tr id="remove_<%= item._id %>">
                                                <td class="image product-thumbnail"><img
                                                        src="/admin/productImages/<%= item.images %>"
                                                        alt="<%= item.name %>" style="height: 80px; width: 60px;"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%= item.name %>
                                                        </a></h5>
                                                    <p class="font-xs">
                                                        <%= item.description %>
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>$<%= item.sales_price %>
                                                            </span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <%if(item.stock>=1){%>
                                                        <span class="color3 font-weight-bold">In Stock</span>
                                                        <%}else{%>
                                                            <span class="color3 font-weight-bold">Out of stock</span>
                                                            <%}%>
                                                </td>
                                                <td class="text-right" data-title="Cart">

                                                    <%if(item.stock>=1){%>
                                                        <button class="btn btn-sm"
                                                            onclick="getLatestData('<%= item._id %>')"><i
                                                                class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                        <%}else{%>
                                                            <button class="btn btn-sm" disabled="true"
                                                                onclick="getLatestData('<%= item._id %>')"><i
                                                                    class="fi-rs-shopping-bag mr-5"></i>Add to
                                                                cart</button>
                                                            <%}%>
                                                </td>
                                                <td class="action" data-title="Remove">
                                                    <a onclick="removeFromWishlist('<%= item._id %>')"><i
                                                            class="fi-rs-trash"></i></a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <%}else{%>
                                    <div class=" text-center">
                                        <h2>Your wishlist is empty</h2>
                                    </div>
                                    <%}%>
                                        <div id="wishlistEmptyMessage" class="text-center" style="display: none;">
                                            <h2>Your wishlist is empty</h2>
                                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("footer") %>

        <script>
            function removeFromWishlist(productID) {
                const removeRow = document.getElementById(`remove_${productID}`);
                removeRow.style.display = "none";
                getWishlistCount()
                toggleWishlist(productID);
            }

            function getWishlistCount() {
                $.ajax({
                    url: '/getWishlistCount',
                    type: 'GET',
                    success: function (data) {
                        const wishlistEmptyMessage = document.getElementById('wishlistEmptyMessage');
                        if (data.wishlistCount <= 0) {
                            wishlistTable.style.display = "none";
                            wishlistEmptyMessage.style.display = "block";
                        } else {
                            wishlistEmptyMessage.style.display = "none";
                        }
                    },
                    error: function () {
                        console.error("Error fetching wishlist count");
                    }
                });
            }

        </script>